
img {
    border-radius: 100%;
    object-fit: cover;
    height: 40px; /* Pas de grootte van de afbeelding aan */
    width: 40px;
    margin-right: 16px; /* Voeg wat ruimte toe aan de rechterkant */
}