<div class="sidenav-header">
    <img width="100" height="100" src="assets/foto.jpg" />
    <div class="header-text">
        <h2>Simone Calf</h2>
    </div>
</div>


<mat-nav-list>
  <ng-container *ngFor="let year of years">
    <!-- Jaar-knop (uitklappen) -->
    <a mat-list-item (click)="toggleYear(year)" class="year-button" [class.selected]="openYear === year">
      <!-- <mat-icon matListItemIcon>expand_more</mat-icon> -->
      <span matListItemTitle>{{ year }}</span>
    </a>

    <!-- Maandenlijst, alleen tonen als dit jaar geopend is -->
    <div *ngIf="openYear === year" class="months-list">
      <a
        mat-list-item
        class="month-button"
        *ngFor="let month of months"
        (click)="selectMonth(year, month)"
        [class.selected]="isSelected(year, month)"
      >
        <!-- <mat-icon matListItemIcon>calendar_month</mat-icon> -->
        <span matListItemTitle>{{ month }}</span>
      </a>
    </div>
  </ng-container>
</mat-nav-list>




